// Import variables
@forward "./global.scss";
@import "./variables.scss";

// Function to generate gradient percentage
@function percentage($got, $lack) {
  @return linear-gradient(to right, #37517e $got, #939494 $lack);
}

// Function to get color from variables
@function COLOR($part) {
  @return map-get($map: $backgrounds, $key: $part);
}

// Header styling

// Top section styling
.section1 {
  background-color: COLOR(top-section);
  padding: 60px;

  .video-btn .bi {
    font-size: 1.7rem;
    margin: 5px;
    color: white;

    &:hover {
      color: rgba(75, 226, 226, 0.911);
    }
  }

  h5 {
    color: #939494f3;
    font-size: medium;
  }

  .get-started {
    align-self: center;
    border-radius: 8px;
  }

  // Animation
  @keyframes moveUpDown {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }

  .animated {
    animation: moveUpDown 3s ease-in-out infinite;
  }

  @media (max-width: 768px) {
    .animated {
      animation: none;
    }

    .why-us-img {
      display: none;
    }
  }
}

// Clients section
#clients {
  background-color: whitesmoke;

  .client {
    width: 110px;
    height: auto;
    padding: 20px;
    transform: scale(1);
    transition: all 0.5s ease-in;
    filter: grayscale(100%);

    &:hover {
      transform: scale(1.2);
      filter: grayscale(0);
    }
  }
}

// About us section
#about {
  padding: 50px;

  .list {
    list-style-type: none;
  }

  .bi-check2-circle {
    color: rgb(44, 180, 180);
    font-size: 20px;
  }

  a {
    font-size: medium;
    border-radius: 4px;
    border: 2px solid;

    &:hover {
      color: white;
      border-radius: 4px;
    }
  }
}

// Why us section
#why-us {
  padding: 80px;
  background-color: COLOR(section-different);

  .why-us h3 {
    font-weight: 400;
    font-size: 34px;
    color: COLOR(top-section);
  }
  @media (max-width: 728px) {
    .why-us-img {
      display: none;
    }
  }
  .accordion-item {
    margin-top: 10px;
    margin-bottom: 20px;

    .accordion-header {
      .accordion-header:hover {
        color: COLOR(button-hover);
      }

      span {
        font-weight: bold;
        font-size: 1.2rem;
        color: COLOR(button-hover);
      }

      .accordion-button {
        transition: color 0.3s ease;

        &:not(.collapsed) {
          color: Color(button-hover);
        }

        &.collapsed {
          color: inherit;
        }
      }
    }
  }
}

// Skills section
#skills {
  padding: 100px;

  .skills-content h3 {
    font-weight: 700;
    font-size: 32px;
    color: COLOR(top-section);
    font-family: "Poppins", sans-serif;
  }

  .language {
    display: flex;
    position: relative;
    height: 40px;
    margin-bottom: 10px;

    .lang-type {
      position: absolute;
      top: 0;
      color: COLOR(top-section);
      left: 0;
      font-weight: bold;
    }

    .percent {
      position: absolute;
      right: 0;
      top: 0;
      color: COLOR(top-section);
      font-size: small;
    }

    .percentage-bar {
      width: 100%;
      height: 10px;
      position: absolute;
      bottom: 0;
      border-radius: 0px;
    }

    .percent1 {
      background: percentage(100%, 0%);
    }

    .percent2 {
      background: percentage(90%, 10%);
    }

    .percent3 {
      background: percentage(75%, 25%);
    }

    .percent4 {
      background: percentage(55%, 45%);
    }
  }
}

// Services section
#services {
  background-color: COLOR(section-different);
  padding: 60px;

  .service-box {
    box-shadow: 0px 0 25px 0 rgba(0, 0, 0, 0.1);
    padding: 50px 30px;
    transition: all ease-in-out 0.4s;
    background: #fff;

    &:hover {
      transform: translateY(-10px);

      a {
        color: COLOR(btn-hover);
      }
    }

    h4 {
      font-weight: 500;
      margin-bottom: 15px;
      font-size: 24px;

      a {
        color: COLOR(top-section);
        transition: ease-in-out 0.3s;
        text-decoration: none;
      }
    }
  }
}

// Call to action section
#call-to-action {
  padding: 120px 0;

  button {
    font-family: "Jost", sans-serif;
    font-weight: 400;
    font-size: 16px;
    display: inline;
    letter-spacing: 1px;
    border-radius: 40px;
    transition: 0.5s;
    margin: 10px;
    border: 2px solid #fff;
    color: #fff;
    width: 180px;
    height: max-content;
    padding: 10px;
  }

  .container {
    max-width: 855px;
    margin-left: 80px;
  }

  h3 {
    font-size: 28px;
    font-weight: 700;
  }
}

// Portfolio section
#portfolio {
  padding: 30px;
  .filters {
    button {
      padding: 5px;
      border-radius: 20px;
      width: 50px;
      margin: 8px;
      border: none;
      &:hover {
        background-color: $btn-hover;
      }
    }
  }
  .section-title {
    p {
      padding: 10px;
    }
  }
  .portfolio-item {
    &:hover {
      .portfolio-info {
        margin-top: 9px;
        display: flex;
        justify-content: space-between;
      }
    }
    .portfolio-img {
      img {
        transition: transform 0.4s ease;
      }

      &:hover img {
        transform: scale(1.05);
      }
    }
    .portfolio-info {
      background-color: rgba(55, 81, 126, 0.479);
      padding: 0 10px;
      display: none;
      left: 0;

      h4,
      p,
      a {
        padding: 0;
        margin: 0;
      }
    }
    .links .bi {
      font-size: 28px;
      margin: 7px;
    }
  }
}

// Team section
#team {
  background: $light-bg;
  padding: 20px;
  .section-title {
    p {
      padding: 0 20px;
      text-align: center;
    }
  }
  .pic img {
    border-radius: 50%;
    width: 150px;
  }
  .member {
    background: #fff;
    margin: 20px 0;
    padding: 15px;
    transition: all 0.3s;
    h4 {
      font-weight: 700;
      margin-bottom: 5px;
      font-size: 20px;
      color: #37517e;
    }
    .member-info {
      padding-left: 30px;
      span {
        padding-bottom: 10px;
        border-bottom: 1px solid $btn-hover;
      }
      p {
        padding-top: 10px;
      }
      .social {
        transition: all 0.3s;
        i {
          border-radius: 50%;
          font-size: 20px;
          padding: 5px;
        }
        a:hover {
          i {
            transform: translateY(-10px);
          }
        }
      }
    }
  }
  .member:hover {
    transform: translateY(-10px);
  }
}

// pricing

.pricing {
  .ul {
    padding: 20px 0;
    list-style: none;
    color: #999;
    text-align: left;
  }
  .box {
    display: flex column;
    max-width: 85%;
    margin: 0 auto 30px auto;
    padding: 10px;
    box-shadow: 0 3px 20px -2px rgba(20, 45, 100, 0.1);
    background: #fff;
    border-top: 4px solid #fff;
    border-radius: 5px;

    h3 {
      font-family: "Noto", sans-serif;
      font-size: 20;
      font-weight: 400;
      color: #37517e;
    }
    h4 {
      font-weight: 400;
      font-size: 48px;
      color: #37517e;
      sup {
        font-size: 28px;
      }
    }
    p {
      color: #47b2e4;
    }
    .not-av {
      text-decoration: line-through;
      color: #999;
    }
  }
  .buy-btn {
    background: $btn-hover;
    border-radius: 50px;
    padding: 12px 35px;
    border: 1px solid #47b2e4;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
  }
  .bi-check {
    color: green;
    font-size: 500;
  }
  .featured {
    border-top: 5px solid $btn-hover;
  }
}

//faq
#faq {
  background: $light-bg;
  padding: 60px;
  overflow: hidden;
  .fa-list {
    max-width: 80%;
  }
  .accordion {
    margin: 15px auto;
    display: flex column;
    justify-content: center;
  }
  .accordion-item {
    margin: 20px;
  }

  .accordion-button:focus {
    outline: none;
    border-color: none;
    border: none;
  }

  .accordion-header button.accordion-button:not(.collapsed) {
    background-color: #fff;
    color: #47b2e4;
  }

  .accordion-button {
    span {
      margin-left: 30px;
    }
    .bi {
      font-size: 24px;
      position: absolute;
      right: 0;
      left: 20px;
    }
  }
}

.contact {
  padding: 30px;
  .info {
    border-top: 3px solid #47b2e4;
    border-bottom: 3px solid #47b2e4;
    padding: 30px;
    background: #fff;
    width: 100%;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.1);
    .bi {
      font-size: 20px;
      color: #47b2e4;
      float: left;
      width: 44px;
      height: 44px;
      background: #e7f5fb;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50px;
      transition: all 0.3s ease-in-out;
      margin-right: 5px;
    }
    h4 {
      padding: 0 0 0 60px;
      font-size: 22px;
      font-weight: 600;
      margin-bottom: 5px;
      color: #37517e;
    }
    p {
      padding: 0 0 10px 60px;
      margin-bottom: 20px;
      font-size: 14px;
      color: #6182ba;
    }
  }

  form {
    @extend .info;
    padding: 20px;
    height: 100%;
    .form-group,
    .row {
      margin: 20px;
    }
  }
}
